.login-container {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: var(--secondary-color);
}

.login-left-container {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.login-logo {
  min-width: 400px;
  min-height: 225px;
}

.login-right-container {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.login-data-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.login-options-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.login-title {
  font-size: 24px;
  font-weight: bold;
  font-family: var(--roboto);
  color: var(--text-color);
}

.forgotten-password-span-container {
  font-size: 14px;
  font-weight: 500;
  font-family: var(--roboto);
  color: var(--text-color);
}
