.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 25px;

    position: absolute;
    width: 405px;
    height: 45px;
    left: calc(50% - 405px/2);
    top: calc(50% - 45px/2 - 32.5px);

    border-radius: 25px;
}