.admin-products-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: var(--cards-background);
}

.products-options-center-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 25px;
}

.products-options-container {
  display: flex;
  gap: 15px;
}
