.input {
    display: flex;
    height: 45px;
    gap: 10px;
    border: 1px solid var(--border-color);
    border-radius: 25px;
    align-items: center;
    background: var(--secondary-color);
}

.img {
    width: 24px;
    height: 24px;
}