.menu-button-container {
    display: flex;
    min-width: 230px;
    align-items: center;
    padding: 10px 15px;
    gap: 25px;
    cursor: pointer;
    border-style: solid;
    border-width: 0 5px 0 0;
    border-right-color: var(--highlighted-color);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: var(--brand-color);
}

.menu-button-text:hover {
    color: var(--highlighted-color);
}

.menu-button-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}

.menu-button-text {
    font-weight: bold;
    font-size: 20px;
    color: var(--secondary-color);
}