.category-card-container {
    display: flex;
    align-items: center;
    padding: 15px 25px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    background: var(--secondary-color);
}

.category-name {
    font-family: var(--roboto);
    font-weight: bold;
    font-size: 24px;
    color: var(--text-color);
    white-space: nowrap;
}

.category-card-buttons {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 25px;
}