.modal-categories-container {
    display: flex;
    flex-direction: column;
    width: 475px;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 16px;
}

.categories-container {
    display: flex;
    flex-direction: column;
    margin: 35px;
    gap: 25px;
}

.categories-title-container {
    display: flex;
    align-items: center;
}

.categories-title-modal {
    width: 100%;
    font-family: var(--roboto);
    font-weight: bold;
    font-size: 24px;
    color: var(--text-color);
}

.close-categories-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.categories-center-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.category-cards-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    overflow-y: scroll;
}

.create-category-options-container {
    display: flex;
}