.admin-products-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.admin-products-options-container {
  display: flex;
  width: 100%;
  height: 95px;
}

.admin-products-options-center-container {
  display: flex;
  width: 100%;
  height: 45px;
  gap: 25px;
  margin: 25px;
}

.admin-product-option-buttons-container {
  display: flex;
  width: 100%;
  gap: 15px;
}

.admin-product-option-filter-container {
  display: flex;
  width: 100%;
  gap: 15px;
}
