.admin-header-container {
    display: flex;
    width: 100%;
    min-height: 83px;
    align-items: center;
    gap: 25px;
    border-bottom: solid 1px var(--border-color);
}

.page-title {
    font-family: var(--roboto);
    font-weight: bold;
    font-size: 28px;
    color: var(--text-color);
    margin-left: 45px;
}

.separator-title {
    width: 1px;
    height: 25px;
    background-color: var(--border-color);
}

.page-description {
    font-family: var(--roboto);
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--text-color);
}