@import "@fontsource/roboto";

:root {
  /*Fonts*/
  --roboto: "Roboto";

  /*Colors*/
  --brand-color: #2c2c2c;
  --secondary-color: #ffffff;
  --highlighted-color: #4674f2;
  --highlighted-hover-color: #6f92f2;
  --border-color: #c7c7c7;
  --text-color: #262626;
  --placeholder-color: #8f8f8f;
  --ok-color: #2ce74a;
  --ok-hover-color: #4fef68;
  --edit-color: #ff9112;
  --edit-hover-color: #ffb45c;
  --delete-color: #ff4343;
  --delete-hover-color: #ff6565;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--highlighted-color);
}
