@import "@fontsource/roboto";

:root {
    /*Fonts*/
    --roboto: "Roboto";

    /*Colors*/
    --brand-color: #2C2C2C;
    --secondary-color: #ffffff;
    --text-color: #262626;
    --text-placeholder-color: #8F8F8F;
    --border-color: #E1DFEC;
    --highlighted-color: #4674F2;
    --highlighted-hover-color: #6F92F2;
    --ok-color: #2CE74A;
    --ok-hover-color: #4FEF68;
    --delete-color: #FF4343;
    --delete-hover-color: #FF6565;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-y: hidden;
}